@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', serif;
  background-color: #f7f7f7;
}

/* Shared styles */

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.fixed-width {
  max-width: 1160px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.primary-btn {
  font-size: 1.25rem;
  color: #ffffff;
  border: none;
  width: 197px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* colors */
.orange {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.cyan {
  color: #05d4df;
}
.violet {
  color: #5d58ef;
}

/* Header section */
.header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* Logo section */
.logo-section {
  align-items: center;
  gap: 11px;
}
.logo-section h3 {
  font-size: 2rem;
}

/* nav section */
.nav-bar {
  gap: 32px;
}
.nav-bar > li {
  list-style: none;
  font-size: 1.25rem;
}

/* contact button */
.contact-btn {
  font-weight: 500;
  background-color: #fea301;
}

/* hero section */
.hero-section {
  align-items: center;
  gap: 50px;
}

/* title section */
.title {
  width: 640px;
}
.title > h1 {
  font-size: 3.5rem;
  line-height: 61px;
}
.title > p {
  font-size: 1.25rem;
  margin-top: 24px;
}
.enroll-btn {
  margin-top: 24px;
  background-color: #000000;
}

/* curriculum section */
.curriculum {
  padding: 60px 0;
  flex-direction: column;
  background-image: url(assets/bg.png);
}
.curriculum > h2 {
  font-size: 2.875rem;
  text-align: center;
}

/* cards section */
.cards {
  padding: 80px 0;
  gap: 28px;
}

.card {
  width: 367.8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 33px;
  padding: 52px 40px;
  border-radius: 18.86px;
}
.card > h4 {
  font-size: 1.5rem;
}
.card > p {
  color: #808080;
  font-size: 0.9375rem;
  line-height: 28px;
}
.card > button {
  font-size: 0.9375rem;
  border: none;
  background-color: transparent;
}

/* kinder card */
.kinder {
  border: 0.5px solid #def5ff;
  background: linear-gradient(#def5ff 10%, #ffffff 25%);
}
.kinder > button {
  color: #64c8ff;
}

.elementary {
  border: 0.5px solid #fff4dc;
  background: linear-gradient(#fff4dc 10%, #ffffff 25%);
}
.elementary > button {
  color: #f0aa00;
}

.middle {
  border: 0.5px solid #f2e8ff;
  background: linear-gradient(#f2e8ff 10%, #ffffff 25%);
}
.middle > button {
  color: #8700ff;
}
