@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', serif;
  background-color: #f7f7f7;
}

/* Shared styles */

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.fixed-width {
  max-width: 1160px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}
.column {
  flex-direction: column;
}

.regular-text {
  font-size: 0.9375rem;
}

.bold {
  font-weight: bold;
}

.primary-btn {
  font-size: 1.25rem;
  color: #ffffff;
  border: none;
  width: 197px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  font-family: 'Raleway', serif;
}

/* colors */
.orange {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.cyan {
  color: #05d4df;
}
.violet {
  color: #5d58ef;
}

/* Header section */
.header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* Logo section */
.logo-section {
  align-items: center;
  gap: 11px;
}
.logo-section h3 {
  font-size: 2rem;
}

/* nav section */
.nav-bar {
  gap: 32px;
}
.nav-bar > li {
  list-style: none;
  font-size: 1.25rem;
}

/* contact button */
.contact-btn {
  font-weight: 500;
  background-color: #fea301;
}

/* hero section */
.hero-section {
  align-items: center;
  gap: 50px;
}

/* title section */
.title {
  width: 640px;
}
.title > h1 {
  font-size: 3.5rem;
  line-height: 61px;
}
.title > p {
  font-size: 1.25rem;
  margin-top: 24px;
}
.enroll-btn {
  margin-top: 24px;
  background-color: #000000;
}

/* curriculum section */
.curriculum {
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/bg.png);
}
.curriculum > h2 {
  font-size: 2.875rem;
  text-align: center;
}

/* cards section */
.cards {
  padding: 80px 0;
  gap: 28px;
}

.card {
  width: 367.8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 33px;
  padding: 52px 40px;
  border-radius: 18.86px;
}
.card > h4 {
  font-size: 1.5rem;
}
.card > p {
  color: #808080;
  font-size: 0.9375rem;
  line-height: 28px;
}
.card > button {
  font-size: 0.9375rem;
  border: none;
  background-color: transparent;
}

/* kinder card */
.kinder {
  border: 0.5px solid #def5ff;
  background: linear-gradient(#def5ff 10%, #ffffff 25%);
}
.kinder > button {
  color: #64c8ff;
}

/* elementary section */
.elementary {
  border: 0.5px solid #fff4dc;
  background: linear-gradient(#fff4dc 10%, #ffffff 25%);
}
.elementary > button {
  color: #f0aa00;
}

/* middle section */
.middle {
  border: 0.5px solid #f2e8ff;
  background: linear-gradient(#f2e8ff 10%, #ffffff 25%);
}
.middle > button {
  color: #8700ff;
}

/* left - right buttons */
.left-right {
  gap: 10px;
}
.arrow {
  border: none;
  background-color: #fea301;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

/* Our Stories section */
.our-stories {
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
  /* background-image: url(assets/bg.png); */
}
.our-stories > h2 {
  font-size: 2.875rem;
  text-align: center;
}

.stories {
  padding: 80px 0;
  gap: 19px;
}

.story {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}

/* big story section */
.big-story {
  width: 540px;
  position: relative;
}

.toddler-texts {
  padding: 58px 38px 35px;
}
.toddler-texts > .date {
  color: #ffffff;
  background-color: #3cd8e8;
  padding: 15px 19px;
  border-radius: 48px;
  position: absolute;
  top: 313px;
  left: 38px;
}
.toddler-texts > h4 {
  font-size: 1.5rem;
}
.toddler-texts > .para {
  margin-top: 48px;
  color: #666666;
  line-height: 28.8px;
}

/* grid section */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
