@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', serif;
  background-color: #f7f7f7;
}

/* Shared styles */

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.fixed-width {
  max-width: 1160px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}
.column {
  flex-direction: column;
}

.regular-text {
  font-size: 0.9375rem;
}

.bold {
  font-weight: bold;
}

.primary-btn {
  font-size: 1.25rem;
  color: #ffffff;
  border: none;
  width: 197px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.raleway {
  font-family: 'Raleway', serif;
}

/* colors */
.orange {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.cyan {
  color: #05d4df;
}
.violet {
  color: #5d58ef;
}

/*--------- Header section ----------*/
/* nav section */
.nav-bar {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* Logo section */
.logo-section {
  align-items: center;
  gap: 11px;
}
.logo-section h3 {
  font-size: 2rem;
}

/* nav section */
.nav-links {
  gap: 32px;
}
.nav-links > li {
  list-style: none;
  font-size: 1.25rem;
}
.nav-links > li > a {
  text-decoration: none;
}

/* contact button */
.contact-btn {
  font-weight: 500;
  background-color: #fea301;
}

/* hero section */
.hero-section {
  align-items: center;
  gap: 50px;
}

/* title section */
.title {
  width: 640px;
}
.title > h1 {
  font-size: 3.5rem;
  line-height: 61px;
}
.title > p {
  font-size: 1.25rem;
  margin-top: 24px;
}
.enroll-btn {
  margin-top: 24px;
  background-color: #000000;
}

/* main section */
.main-section {
  background: url(assets/bg.png),
    linear-gradient(to top, rgba(254, 163, 1, 0.2) 10%, #f7f7f7 60%);
}

/* curriculum section */
.curriculum {
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
}
.curriculum > h2 {
  font-size: 2.875rem;
  text-align: center;
}

/* cards section */
.cards {
  padding: 80px 0;
  gap: 28px;
}

.card {
  width: 367.8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 33px;
  padding: 52px 40px;
  border-radius: 18.86px;
}
.card > h4 {
  font-size: 1.5rem;
}
.card > p {
  color: #808080;
  font-size: 0.9375rem;
  line-height: 28px;
}
.card > button {
  font-size: 0.9375rem;
  border: none;
  background-color: transparent;
}

/* kinder card */
.kinder {
  border: 0.5px solid #def5ff;
  background: linear-gradient(#def5ff 10%, #ffffff 25%);
}
.kinder > button {
  color: #64c8ff;
}

/* elementary section */
.elementary {
  border: 0.5px solid #fff4dc;
  background: linear-gradient(#fff4dc 10%, #ffffff 25%);
}
.elementary > button {
  color: #f0aa00;
}

/* middle section */
.middle {
  border: 0.5px solid #f2e8ff;
  background: linear-gradient(#f2e8ff 10%, #ffffff 25%);
}
.middle > button {
  color: #8700ff;
}

/* left - right buttons */
.left-right-arrows {
  gap: 10px;
}
.arrow {
  border: none;
  background-color: #fea301;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

/* Our Stories section */
.our-stories {
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
}
.our-stories > h2 {
  font-size: 2.875rem;
}

/* stories section */
.stories {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 540px 600px;
  gap: 19px;
}

/* .story {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
} */

/* left-story-section and right-story-section */
.left-story-section,
.story {
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}
.left-story-section img,
.story img {
  border-radius: 16px 16px 0 0;
}
.left-story-texts {
  padding: 58px 38px 35px;
}
.left-story-texts > .date {
  color: #ffffff;
  background-color: #3cd8e8;
  padding: 15px 19px;
  border-radius: 48px;
  position: absolute;
  top: 313px;
  left: 38px;
}
.left-story-texts > h4 {
  font-size: 1.5rem;
}
.left-story-texts > .description {
  margin-top: 48px;
  color: #666666;
  line-height: 28.8px;
}
/* only right stories sections */
.right-story-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
.story-text-area {
  padding: 40px 38px 30px;
}
.story-text-area > h4 {
  line-height: 28.8px;
}
/* rearranging the date */
.story {
  position: relative;
}
.story .date {
  color: #ffffff;
  background-color: #5d58f0;
  padding: 15px 19px;
  border-radius: 48px;
  position: absolute;
  top: 153px;
}

.story-3 .date,
.story-4 .date {
  background-color: #95b226;
  top: 158px;
}

.view-all-btn {
  background-color: #000000;
}

/* footerr section */
.footer {
  padding-top: 125px;
  padding-bottom: 175px;
  background-color: #01acfd;
  color: #ffffff;
}
.footer-container {
  justify-content: space-between;
}
/*  */
.left-footer {
  flex-direction: column;
  gap: 35px;
}
.footer-logo-part {
  align-items: center;
}
.footer-logo-part h4 {
  font-size: 2.625rem;
}
.left-footer p {
  font-size: 1.25rem;
  width: 400px;
}
/*  */
.middle-footer h4 {
  font-size: 1.5rem;
}
.footer-nav {
  margin-top: 35px;
  flex-direction: column;
  gap: 20px;
}
.footer-nav li {
  list-style: none;
}
.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
}
/*  */
.right-footer h4 {
  font-size: 1.625rem;
}
.social-logos {
  margin-top: 32px;
  gap: 10px;
}
